.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    
    html {
      scroll-behavior: smooth;
    }


/*Arrow button*/
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

.display-2{
  align-content: center;
  text-align: center;
  font-family: 'Aclonica';
  color: white;
  background-color: #0E0B0B;
}

.special{
  align-content: center;
  text-align: center;
  font-family: 'Aclonica';
  font-size: 20px;
}

ul.special {
  list-style-type: none;
}

.main{
  align-content: center;
  text-align: center;
  font-family: 'Andika';
  font-size: 22px;
  margin-bottom: 50px;
}

.navbar-nav{
  font-size: 20px;
}

.jumbotron{
  font-family: 'Aclonica';
}